<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999207664569-ps6rlc9cofcc9ql051i0s1g2nb17nadm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999207664569-ps6rlc9cofcc9ql051i0s1g2nb17nadm</string>
	<key>API_KEY</key>
	<string>AIzaSyAwBmZIVNh8AIKofeDK7YYU40i-QvffU9k</string>
	<key>GCM_SENDER_ID</key>
	<string>999207664569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pmsarmiento.Phoenix-Chat-Starter</string>
	<key>PROJECT_ID</key>
	<string>phoenix-chat-f0b4c</string>
	<key>STORAGE_BUCKET</key>
	<string>phoenix-chat-f0b4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999207664569:ios:8a2f76a3d5acee269d9468</string>
</dict>
</plist>